<%- include('partials/header'); -%>


<div class="post-intro">
    <div class="header">
        <h1><%= post.title %></h1>
        <div class="date">Posted on<div class="actual-date">FEB 4, 2019</div></div>
    </div>
    <img src='<%= post.imageUrl %>' alt="bi kip vo cong">
    <div class="comment-count"></div>
    <p class="by">by <a href="fb.com/chi.barca.5">Ace Chung chí hướng</a></p>
</div>
<div class="entry-content">
    <% post.content.split("\n").map(para => { %>
        <p><%= para %></p>
    <% }) %>
    
    
</div>







<%- include('partials/footer'); -%>